<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        /*        header {
                    min-height: 35px;
                    background-color: black;
                    color: white;
                    text-align: center;
                }
        */
        a:hover {
            text-decoration-line: none;
        }

        .my_input {
            width: 50%;
            text-align: center;
        }

        label {
            font-weight: bold;
        }

        span, label, th, td, input, option, select {
            font-style: oblique;
        }


        body {
            margin: 0;
        }

        footer {
            /*height: 10%;*/
        }

        header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #4f2684;
            color: white;
            /*padding: 0.5%;*/
            /*height: 5%;*/
        }

        h1 {
            margin: 0;
        }

        .menu {
            position: fixed;
            top: 0;
            left: 0;
            margin-top: 1.9%;
            height: 89.4%;
            width: 20%;
            background-color: #3a0647;
            color: white;
            transform: translateX(-100%);
            transition: transform 0.3s ease-in-out;
        }

        .menu.open {
            transform: translateX(0);
        }

        .menu ul {
            list-style: none;
            padding: 0;
            margin: 20px;
        }

        .menu li {
            margin-bottom: 10px;
        }

        .menu a {
            color: white;
            text-decoration: none;
        }

        .menu-toggle {
            font-size: 24px;
            background-color: transparent;
            border: none;
            color: white;
            margin-left: 5px;
            padding: 0;
            cursor: pointer;
        }

        .close-menu {
            font-size: 24px;
            background-color: transparent;
            border: none;
            color: white;
            margin: 20px;
            padding: 0;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <header>
        <button class="menu-toggle">&#9776;</button>
        <h4>Family Budget</h4>
    </header>

    <div class="row">
        <div class="col-md-3">
            <div class="menu">
                <button class="close-menu">&times;</button>
                <ul>
                    <li><a href="#">Item 1</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 3</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-9">
            <center>
            <br />
            @RenderBody()
            <br />
            </center>
        </div>

        <footer class="border-top footer text-muted">
            <div class="container" style="font-style: oblique;">
                &copy; 2022 - Family budget
                @if (User.Identity!.IsAuthenticated)
                {
                    <a asp-action="Logout" asp-controller="Account">@AcсountModes.Logout</a>
                }
                @RenderSection("Link", required: false)
            </div>
        </footer>

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)

    </div>
    <script>
        const menuToggle = document.querySelector(".menu-toggle");
        const closeMenu = document.querySelector(".close-menu");
        const menu = document.querySelector(".menu");

        menuToggle.addEventListener("click", function () {
            menu.classList.add("open");
        });

        closeMenu.addEventListener("click", function () {
            menu.classList.remove("open");
        });
    </script>
</body>
</html>
