@model Money


<model-details for="Count">
    <input asp-for="Count" class="form-control" />
    <p><span asp-validation-for="Count" class="text-danger"></span></p>
</model-details>

<model-details for="TypeOfMoney">
    <select asp-for="TypeOfMoney" asp-items="Html.GetEnumSelectList<TypeOfMoney>()" class="form-control"></select>
    <p><span asp-validation-for="TypeOfMoney" class="text-danger"></span></p>
</model-details>

<input type="hidden" asp-for="Id" />
<input type="hidden" asp-for="CurrencyId" />
<input type="hidden" asp-for="UserId" />

@*@model ModelWithMode<Money>

@{
    Mode mode = Model.Mode;
    Money money = Model.Model;

    bool isEdit = mode == Mode.Edit || mode == Mode.Add;
    string color = ModeHelper.GetBootstrapColorByMode(mode);
}

<model-details for="Model.Count">
    @if (isEdit)
    {
        <input asp-for="Model.Count" class="form-control" />
        <p><span asp-validation-for="Model.Count" class="text-danger"></span></p>
    }
</model-details>

<model-details for="Model.TypeOfMoney">
    @if (isEdit)
    {
        <select asp-for="Model.TypeOfMoney" asp-items="Html.GetEnumSelectList<TypeOfMoney>()" class="form-control"></select>
        <p><span asp-validation-for="Model.TypeOfMoney" class="text-danger"></span></p>
    }
</model-details>

@if (mode != Mode.Get)
{
    <input type="hidden" asp-for="Model.Id" />
    <input type="hidden" asp-for="Model.CurrencyId" />
    <input type="hidden" asp-for="Model.UserId" />
}
<br />

*@


