@{
    ViewData["Title"] = "Добавить";
    ViewData["Back"] = "/Home/Index";
}
@model MoneyForEveryone

<form method="post" class="form-group">
    <div asp-validation-summary="ModelOnly" class="text-danger" style="font-style: oblique;"></div>

    <label>Выберите покупателя</label><br />
    <select name="PersonId" class="my_input">
        <option value="" disabled selected>Выберите покупателя</option>
        @foreach (var item in ViewBag.Names)
        {
            <option value=@item.Id>
                @item.Name
            </option>
        }
    </select>
    <br />
    <br />
    <label asp-for="Paid"></label>
    <span asp-validation-for="Paid" class="text-danger" style="font-style: oblique;"></span>
    <input asp-for="Paid" class="form-control my_input" />
    <br />
    <input type="submit" value="Добавить" class="btn btn-outline-primary">
</form>