@model RolesAndUserId

@{
    Layout = "_BudgetLayout";


    ViewBag.Title = $"{nameof(User)}'s roles";
    ViewBag.Mode = Mode.Edit;

    string? userId = ViewBag.UserId;

    TagAModel tagAModel = new()
            {
                HrefBeforeUserId = UserController.name,
                HrefAfterUserId = $"{userId}/{UserController.partPathToRoles}",
                UserId = userId,
                Mode = Mode.Edit
            };
    ViewBag.TagAModel = tagAModel;

    var roles = Model.Roles;
}

<form-validation form-model="@tagAModel">
    <div asp-validation-summary="ModelOnly" class="text-danger" style="font-style: oblique;"></div>

    <div class="row">
        <div class="col">
            <label>Roles:</label>
        </div>
        <div class="col">
            <select asp-for="@roles" asp-items="ViewBag.Roles" multiple></select>
            <p><span asp-validation-for="Roles" class="text-danger"></span></p>
        </div>
        <div class="col"></div>
    </div>
</form-validation>



