@using Microsoft.AspNetCore.Identity;
@model ModelWithMode<IdentityRole>

@{
    Layout = "_BudgetEditLayout";

    Mode mode = Model.Mode;
    string roleId = Model.Model.Id;

    bool isEdit = mode == Mode.Edit || mode == Mode.Add;

    ViewBag.Title = "Role";
    string? userId = ViewBag.UserId;

    TagAModel tagAModel = new()
            {
                HrefBeforeUserId = RoleController.name,
                HrefAfterUserId = $"{RoleController.pathToModels}/{roleId}",
                UserId = userId,
                Mode = mode
            };
    ViewBag.TagAModel =  tagAModel;
}



<div class="row">
    <div class="col">
        <label asp-for="Model.Name"></label>
    </div>
    <div class="col">
        <input asp-for="Model.Name" disabled="@(!isEdit)" />
        @if (isEdit)
        {
            <p><span asp-validation-for="Model.Name" class="text-danger"></span></p>
        }
        else
        {
            <br />
        }
    </div>
    <div class="col"></div>
</div>



