@{
    ViewData["Title"] = "Главная страница";
}
<a asp-controller="Person" asp-action="Person" class="btn btn-outline-info">
    <em>Мой список</em>
</a>
<br />
<br />
<a asp-controller="PurchasesForEveryone" asp-action="Result" class="btn btn-outline-info">
    <em>Закупки для всех</em>
</a>
